<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			{% seo %}
		</head>
		<body>
			<nav>
	    		<ul>
				<li><a href="/" style="font-size:34px; font-family:Noto Sans, sans-serif; font-weight: 400; color: black">Matthew Tarduno</a></li>
	        		<li><a href="/">Home</a></li>
				<li><a href="/research">Research</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/scraping_guide">Useful Things</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
	
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:tarduno@berkeley.edu">email</a></li>
	        		<li><a href="https://github.com/Matt-Tarduno" target="_blank">github</a></li>
				<li><a href="https://twitter.com/matttarduno" target="_blank">twitter</a></li>
				</ul>
			</footer>
		</body>
	</html>
